<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/adminHome.css" />
    <link rel="stylesheet" href="../style/bootstrap.min.css" />
    <script src="https://use.fontawesome.com/3903c9d7fd.js"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
      rel="stylesheet"
    />
    <title>HomePage</title>
  </head>
  <body>
  
  {{>navbar}}

    <script src="../js/bootstrap.js" type="text/javascript"></script>
  </body>
</html>