<html lang="en">
  <head>
{{>headerAdmin}}
    <title>HomePage</title>
  </head>
  <body class="row">
    <div class="col-1">
      {{>navbar}}
    </div>
    <div class="col-11 container center">
      <form class="row" action="/adminUniversity" method="POST">
        <div class="col-12">
          <h1 class="heading">Enter University Detail</h1>
        </div>
        <div class="col-6">
          <input
            autocomplete="off"
            type="text0"
            class="form-control"
            id="inputname"
            name="universityname"
            required
          />
          <label for="inputname" class="form-label">University Name</label>
        </div>

        <div class="col-6">
          <input
            autocomplete="off"
            type="text"
            name="universitycode"
            class="form-control"
            id="inputCode"
            required
          />
          <label for="inputCode" class="form-label">University Code</label>
        </div>
        <div class="col-6">
          <input
            autocomplete="off"
            type="email"
            name="email"
            class="form-control"
            id="inputUser"
          />
          <label for="inputUser" class="form-label">Email</label>
        </div>

        <div class="col-12 name">
          <input
            name="address"
            type="text"
            class="form-control"
            id="inputCollegeAdd"
            autocomplete="off"
          />
          <label for="inputCollegeCode" class="form-label">Headquater Address</label>
        </div>

        <div class="col-12 center">
          <button type="submit" class="btn registerbtn">Register</button>
        </div>
      </form>
    </div>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
  </body>
</html>