<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div class="amit">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/">Project</a></li>
          <li><a href="/">Collaboration</a></li>
          <li><a href="/">Community</a></li>
        </ul>

        <img src="" alt="user" class="user" onclick="toggleMenu()" />

        <div class="submenu-wrap" id="submenu">
          <div class="submenu">
            <div class="user-info">
              <img src="" alt="amit" />
              <h3>Amit yadav</h3>
            </div>
            <hr />

            <a href="#" class="sub-menu-link">
              <img src="" alt="amit" />
              <p>Edit Profile</p>
              <span>></span>
            </a>

            <a href="#" class="sub-menu-link">
              <img src="" alt="amit" />
              <p>Setting & Privacy</p>
              <span>></span>
            </a>

            <a href="#" class="sub-menu-link">
              <img src="" alt="amit" />
              <p>Help & Support</p>
              <span>></span>
            </a>

            <a href="#" class="sub-menu-link">
              <img src="" alt="amit" />
              <p>Logout</p>
              <span>></span>
            </a>

          </div>
        </div>

      </nav>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>