<ul class="menu">
  <li class="menu_list">
    <span class="front fas fa-home"></span>
    <a href="/adminHome" class="side">Home</a>
  </li>
  <li class="menu_list">
    <span class="front fas fa-user-graduate"></span>
    <a href="/adminStudent" class="side">Student</a>
  </li>
  <li class="menu_list">
    <span class="front fas fa-university"></span>
    <a href="/adminUniversity" class="side">University</a>
  </li>
  <li class="menu_list">
    <span class="front fas fa-school"></span>
    <a href="/adminCollege" class="side">College</a>
  </li>
  <li class="menu_list">
    <span class="front fas fa-chalkboard-teacher"></span>
    <a href="/adminFaculty" class="side">Faculty</a>
  </li>
</ul>